#!/bin/sh

# Merge local Xresources file
[ -e "$HOME/.Xresources.local" ] && xrdb -merge .Xresources.local

# Query current DPI
_DPI=$(xrdb -query | awk '/*\.dpi/ {print $2}')

if [ ! -z "$_DPI" ]; then
    # Apply DPI settings to xrandr
    [ -x $(command -v xrandr) ] && xrandr --dpi $_DPI

    # # Apply QT HiDPI scaling
    # export QT_SCREEN_SCALE_FACTORS=$(echo "scale=1; $_DPI/96" | bc)

    # # Disable QT auto scaling
    # export QT_AUTO_SCREEN_SCALE_FACTOR=0
fi

# Export default XDG config home
export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-$HOME/.config}"

# Export GTK theme for use in QT
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"

# Spawn D-Bus user session
if [ -x $(command -v dbus-launch) ] && [ -z "$DBUS_SESSION_BUS_ADDRESS" ]; then
    eval "$(dbus-launch --sh-syntax --exit-with-session)"
fi

# Set background
[ -x $(command -v feh) ] && feh --no-fehbg --no-xinerama --bg-fill "$XDG_CONFIG_HOME/assets/wallpaper.png" &

# Start compositor
[ -x $(command -v compton) ] && compton -b 

# Start synergy server
[ -x $(command -v synergys) ] && synergys -f -n localhost --config ~/.synergy.conf 

# Start terminal
[ -x $(command -v urxvtd) ] && urxvtd -q -o -f 

# XDG autostart support
[ -x $(command -v dex) ] && dex --autostart --environment none
