! Display DPI
Xft.dpi: 96

! Subpixel Antialiasing
! $dpi > 144 ? none : rgb
Xft.rgba: rgb

! screensaver.* settings are handled 
! by screenlock.service

! Screensaver timeout (in seconds)
screensaver.lock: 600

! Dim screen timeout (used by laptops)
screensaver.dim:  120

! Screen DPMS timeout
screensaver.dpms: 900
