!--------------
! color schema

!black
!*color0:  #454545
!*color8:  #727272
*color0:  #262626
*color8:  #3F3F3F
!!red
*color1:  #D44A40
*color9:  #D4746A
!!green
*color2:  #98CB3C
*color10: #AFCB66
!!yellow
*color3:  #D4B63C
*color11: #D4BE66
!!blue
*color4:  #5A89C4
*color12: #847FC4
!!magenta
*color5:  #904AC4
*color13: #A774C4
!!cyan
*color6:  #5ACBBE
*color14: #84CBBE
!!white
*color7:  #A5A5A5
*color15: #C5C5C5

!---------------
! urxvt-unicode
!urxvt*font:         xft:xos4 Terminus:antialias=false:size=8
urxvt*font:         xft:xos4 Terminus:antialias=false:size=10
urxvt*scrollBar:    false
urxvt*visualBell:   false
urxvt*urgentOnBell: true

urxvt*cutchars:          `'",;@&*=|/?()<>[]{}'
urxvt*saveLines:         8192
urxvt*scrollTtyOutput:   False
urxvt*scrollTtyKeypress: True
urxvt*scrollWithBuffer:  True

urxvt*transparent: true
urxvt*shading:     35

urxvt*background:  #2F2E2D
urxvt*foreground:  #EFEFEF
urxvt*cursorColor: #999999
urxvt*colorBD:     #ffffff
urxvt*colorUL:     #99cc66

urxvt*cursorBlink:    true
urxvt*cursorOnTime:   400
urxvt*cursorOffTime:  140

urxvt*perl-ext-common: default,matcher,keyboard-select

urxvt*matcher.button: 1
urxvt*url-launcher:   firefox
urxvt*underlineURLs:  true

! These patterns match URLs that can be opened in a browser
urxvt*matcher.pattern.0:  \\b(?:(?:https?|ftp):\/\/|mailto:)[\\w\-\@;\/?:&=%\$_.+!*\x27(),~#]+ [\\w\-\@;\/?:&=%\$_+!*\x27()~]
urxvt*matcher.pattern.1:  \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]

! This one matches image URLs and open them in FEH
urxvt*matcher.pattern.2:  \\bhttps?:\/\/[\\w-.]*\/[\\w./?&@#-]*.(jpg|jpeg|png)
urxvt*matcher.launcher.2: feh $0

urxvt.keysym.M-a: perl:keyboard-select:activate
urxvt.keysym.M-s: perl:keyboard-select:search

!---------
! WeeChat
weechat*urgentOnBell: true
